BODY {
  color: black;
  background: #FFFFCC;
}

H1, H2, H3, H4 {
  color:green ;
}

P {
  font-family: helvetica;
}

A {
  color: brown;
}

A:active {
  color: brown;
}

HR {
  color: green;
  border-top: solid green;
}

TABLE {
  border: solid green;
  border-width: 2;
}

TH { color: white;
     background: green;
}

BLOCKQUOTE { color: green;
             font-style: italic;
}

DT {
	color: red;
	font-style: bold;
}
