BODY {
  color: black;
  background-color: white;
  font-family: helvetica;
  font-size: 12pt;
  margin: 1;
}

H1 {
  color: brown;
  font-family: times;
  font-size: 18pt;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .05em;
}

H2 
H2 SUP {
  font-size: 8pt;
  font-family: helvetica;
  font-variant: normal;
}

H3 {
  color: brown;
  font-family: times;
  font-size: 14pt;
  font-style: bold;
  letter-spacing: .05em;
  margin-top: 10;
  margin-bottom: 3;
}

H4 {
  color: brown;
  font-family: times;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: .05em;
}

BLOCKQUOTE {
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

A {
  color: black;
/#  font-weight: bold; #/
}

A:active {
  color: brown;
}

A:hover {
  text-decoration: none;
  color: white;
  background: brown;
}

HR {
  color: brown;
  border-top: solid brown;
  border-width: 3;
}

TABLE {
  background-color: transparent;
  padding: 0;
  margin-top: 0;
}

TH { color: white;
  background-color: brown;
  font-family: helvetica;
  padding: 3;
}

TH A {
  color: white;
}

TABLE.layout {
  border-width:0;
}

TABLE.layout TD {
  padding: 3;
}

TABLE.revhistory {
  color: black;
  background-color: tan;
  border: solid brown;
  border-width: 1;
}

TABLE.revhistory TH {
  padding: 5;
}


TABLE.navbar {
  border: solid brown;
  border-width: 0;
}

TABLE.navbar TH {
  padding: 5;
}

TABLE.navbox {
  margin-top: 10;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  width: 200;
  font-size: 12pt;
}

TABLE.box {
  margin-top: 10;
  border: solid brown;
  background-color: tan;
  border-width: 2;
}

TABLE.header {
  margin-top: 0;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  width: 100%;
  font-size: 14pt;
}

TABLE.footer {
  margin-top: 0;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  width: 100%;
  font-size: 14pt;
}

TABLE.title {
  background-color: tan;
  border: solid brown;
  border-width: 2;
  width: 100%;
}

TABLE.bargraph {
  border-width: 0;
  padding: 0;
  border-spacing: 2;
}

TD {
  align: top;
}

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

DT {
  color: red;
  font-style: bold;
}

LI {
  margin-left: 0;
  padding-left: 0;
}

