BODY {
  color: black;
  background-color: white;
  font-family: helvetica;
  font-size: 12pt;
  margin: 5;
}

TABLE.layout {
  width:100%;
}

TABLE.header {
  width: 100%;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  font-size: 14pt;
  text-align: center;
}

TABLE.navbox {
  width: 100%;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  font-size: 10pt;
}

TABLE.box {
  width: 100%;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  font-size: 12pt;
}

TABLE.footer {
  width: 100%;
  border: solid brown;
  border-width: 2;
  background-color: tan;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

TABLE.bargraph {
  border-width: 0;
  padding: 0;
}

TH {
  color: white;
  background-color: brown;
  vertical-align: top;
}

.box .label {
  text-align: right;
  vertical-align: top;
  font-size: 12pt;
  font-style: bold;
  color: brown;
  background: transparent;
}

.box .collabel {
  text-align: left;
  color: brown;
  background: transparent;
}

TD {
  vertical-align: top;
}

TD.logo {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
  padding-right: 10;
}

TD.sidebarleft {
  margin: 0;
  padding-right: 10;
}

TD.sidebarright {
  margin: 0;
  padding-left: 10;
}

.navbox TD {
  padding-left: 5;
  padding-right: 5;
  font-size: 10pt;
}

TD.body {
}

TD.error {
  color: red;
}

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

H1 {
  color: brown;
  font-family: times;
  font-size: 18pt;
  font-weight: bold;
  font-variant: small-caps;
}

.header H1 {
  font-size: 22pt;
}

H2 {
  color: brown;
  font-size: 15pt;
  font-weight: bold;
}

.header H2 {
  font-size: 18pt;
}

H3 {
  color: black;
  font-family: times;
  font-size: 14pt;
  font-weight: bold;
}

H4 {
  color: brown;
  font-family: times;
  font-size: 13pt;
  font-weight: bold;
}

BLOCKQUOTE {
  font-size: 12pt;
  font-weight: bold;
}

A:link { color: brown }
A:active { color: brown }
A:visited { color: brown }
A:hover {
  text-decoration: none;
  color: white;
  background: brown;
}

HR {
  color: brown;
  border-top: solid brown;
  border-width: 3;
}

.box TH A:link { color: white }
.box TH A:active { color: white }
.box TH A:visited { color: white }
.box TH A:hover {
  text-decoration: none;
  color: white;
  background: brown;
}

.box TD A:link { color: black }
.box TD A:active { color: black }
.box TD A:visited { color: black }
.box TD A:hover {
  text-decoration: none;
  color: white;
  background: brown;
}

.navbox TD A:link { color: black }
.navbox TD A:active { color: black }
.navbox TD A:visited { color: black }
.navbox TD A:hover {
  text-decoration: none;
  color: white;
  background: brown;
}

IMG {
  border-width: 0;
}
