BODY {
  color: black;
  background: white;
}

H1, H2, H3, H4 {
  color:purple ;
}

P {
  font-family: times;
}

A {
  color: purple;
}

A:active {
  color: purple;
}

HR {
  color: purple;
  border-top: solid purple;
}

TABLE {
  background: white;
  padding: 0;
}

TH { color: white;
  background: purple;
  font-family: helvetica;
  padding: 3;
}

TH A {
  color: white;
}

TABLE.navbar {
  border: solid purple;
  border-width: 0;
}

TABLE.navbar TH {
  padding: 5;
}

TABLE.navbox {
  margin-top: 10;
  border: solid purple;
  border-width: 2;
  width: 180;
}

TABLE.box {
  margin-top: 10;
  border: solid purple;
  border-width: 2;
}

TABLE.bargraph {
  border-width: 0;
  background: silver;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

TD.baron {
  background: red;
  padding: 0;
}

TD.baroff {
  background: black;
  padding: 0;
}

BLOCKQUOTE { color: purple;
             font-style: italic;
}

DT {
	color: red;
	font-style: bold;
}
