BODY {
  color: black;
  background-color: #aaaaaa;
  font-family: helvetica;
  font-size: 12pt;
  margin: 1;
}

H1 {
  color: black;
  background-color: transparent;
  font-size: 18pt;
  font-weight: bold;
}

H2 
H2 SUP {
  font-size: 8pt;
  font-family: helvetica;
  font-variant: normal;
}

xH3 {
  color: brown;
  font-family: times;
  font-size: 14pt;
  font-style: bold;
  letter-spacing: .05em;
  margin-top: 10;
  margin-bottom: 3;
}

xH4 {
  color: brown;
  font-family: times;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: .05em;
}

BLOCKQUOTE {
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

A {
  color: white;
}

A:active {
  color: white;
}

xHR {
  color: brown;
  border-top: solid brown;
  border-width: 3;
}

TABLE {
  background-color: transparent;
  padding: 0;
  margin-top: 0;
}

TH {
  color: black;
  background-color: #BBCCEE;
  font-family: helvetica;
  padding: 0;
  font-size: 14pt;
  font-style: bold;
}

TH A {
  color: white;
}

TABLE.layout {
  border-width:0;
}

TABLE.layout TD {
  padding: 3;
}

TABLE.revhistory {
  color: black;
  background-color: tan;
  border: solid brown;
  border-width: 1;
}

TABLE.revhistory TH {
  padding: 5;
}


TABLE.navbar {
  border: solid brown;
  border-width: 0;
}

TABLE.navbar TH {
  padding: 5;
}

TABLE.navbox {
  margin-top: 10;
  border: solid black;
  border-width: 1;
  background-color: #888888;
  width: 200;
}

xTABLE.box {
  margin-top: 10;
  border: solid brown;
  background-color: tan;
  border-width: 2;
}

TABLE.header {
  margin-top: 0;
  background-color: transparent;
  width: 100%;
  font-size: 14pt;
}

TABLE.header TH {
  text-align: center;
  font-size: 20pt;
}

TABLE.body {
  background-color: white;
  height: 100%;
  width: 100%;
}

xTD.body {
  background-color: white;
}

TABLE.footer {
  margin-top: 0;
  border: solid black;
  border-width: 1;
  background-color: #888888;
  width: 100%;
  font-size: 14pt;
  padding: 0;
}

TABLE.footer TD {
  border-width: 0;
  margin-top: 0;
}

TABLE.title {
  background-color: transparent;
  width: 100%;
  padding: 0;
}

TABLE.title TD {
  text-align: center;
}

TABLE.bargraph {
  border-width: 0;
  padding: 0;
  border-spacing: 2;
}

TD {
  align: top;
}

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

DT {
  color: red;
  font-style: bold;
}

LI {
  margin-left: 0;
  padding-left: 0;
}

