
/* Base styles */

BODY {
  border-width: 0;
  padding: 10;
  margin: 0;
  background-color: #aaaaaa;
  vertical-align: top;
}

TABLE {
  border-width: 0;
}

TR {
  border-width: 0;
}

TH {
  color: black;
  background-color: #b5c6e8;
  border: solid black;
  border-top: solid #bbbbbb;
  border-left: solid #bbbbbb;
  font-weight: bold;
}

TD {
  border-width: 0;
}

BLOCKQUOTE {
  color: black;
  font-weight: italic;
  background-color: #bbccee;
}

H1 {
  font-size: 110%;
  font-weight: bold;
  padding-top: 3; padding-bottom: 3;
  background-color: #bbccee;
  text-align: center;
}

H2 {
  color: #bbccee;
  font-size: 110%;
  font-weight: bold italic;
}

H3 {
  color: #bbccee;
  font-size: 105%;
  font-weight: bold;
}

H4 {
  color: #bbccee;
  font-size: 105%;
  font-weight: italic;
}

A:link { color: #003355 }
A:active { color: #003355 }
A:visited { color: #003355 }
A:hover { background-color: #bbccee; }

HR {
  color: black;
  border-top: solid black;
  border-width: 3;
}

IMG {
  border-width: 0;
}

/* Location-specific styles */

TABLE.layout {
  width: 100%;
}

TD.sidebarleft {
}

TD.sidebarright {
}

TD.center {
  width: 100%;
}

TD.body {
  width: 100%;
  background-color: white;
  border: solid black;
  border-width: 2;
  padding: 10;
}

TABLE.header {
  height: 100;
}

.header TR {
}

.header TD {
  height: 100;
}

.header H1 {
  font-size: 200%;
  background-color: transparent;
  text-align: center;
  font: bold 16pt "Georgia", serif;
}

.header H2 {
  color: black;
  font: bold 18pt "Georgia", serif;
  text-align: center;
}

TABLE.logo {
  height: 100;
  font-weight: bold;
}

.logo TD {
  height: 100;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
}

TABLE.navbox {
  width: 200;
  margin-top: 0;
  border: solid black;
  border-width: 2;
  background-color: #888888;
}

.navbox TR {
  border-width: 0;
}

.navbox TH {
}

.navbox TD {
  vertical-align: middle;
  padding: 5;
  margin: 3;
  font-size: 95%;
  background-color: #888888;
}

.navbox A:link { color: white; }
.navbox A:active { color: white; }
.navbox A:visited { color: white; }
.navbox A:hover { color: black; background-color: #bbccee; }

.tab TH {
  text-align: center;
  font-weight: bold;
  padding: 2;
}

.tab A {
  text-decoration: none;
}

.tab .selected_tab {
  background-color: #aaaaaa;
}

TABLE.box {
  margin-top: 10;
  background-color: #e0e5ee; 
}

.odd {
  background-color: white; 
}

.even{
}

.box TH {
  padding-top: 3px; padding-bottom: 3px;
  border: solid black;
  border-top: solid #bbbbbb;
  border-left: solid #bbbbbb;
  border-width: 2px;
}

.box TD {
  border-width: 0;
}

.box .label {
  font-weight: bold;
  text-align: right;
  margin-right: 10;
}

.box .collabel {
  vertical-align: bottom;
  background: transparent;
  padding: 3;
}

.box .sectionlabel {
  padding-top: 20;
  vertical-align: bottom;
  text-align: center;
  background: transparent;
  font-weight: bold;
}

TABLE.footer {
  border-width: 2;
  background-color: #888888;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  margin-top: 10;
  margin-bottom: 10;
  border: solid black;
  border-top: solid #bbbbbb;
  border-left: solid #bbbbbb;
  padding: 3;
}

.error {
  color: red;
}

.error A:link { color: red }
.error A:active { color: red }
.error A:visited { color: red }
.error A:hover { color: red; background-color: #bbccee; }

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

/*
	Splash Page
*/

DIV.map {
  width: 80%;
  margin: 10%;
  background-color: #888888;
  border-width: 2;
  border: solid black;
}

#p1, #p1 A {
  margin: 0;
  padding: 10;
  background-color: #bbccee;
  font: bold 24pt "Georgia", serif;
}
  
#p2, #p2 A, #p3, #p3 A, #p4, #p4 A, #p5, #p5 A, #p6, #p6 A, #p7, #p7 A, #p8, #p8 A, #p9, #p9 A, #p10, #p10 A {
  font: bold italic 16pt "Georgia", serif;
  text-align: center;
  margin: 5%;
  color: white;
}
