BODY {
  color: black;
  background-color: #aaaaaa;
  font-family: helvetica;
  font-size: 12pt;
  margin: 5;
}

TABLE.layout {
  width: 100%;
}

TABLE.header {
  width: 100%;
  border: none;
  border-width: 0;
  background-color: transparent;
  font-size: 14pt;
  text-align: center;
  margin-bottom:5;
}

TABLE.navbox {
  width: 100%;
  margin-bottom: 10;
  border: solid black;
  border-width: 1;
  background-color: #888888;
  font-size: 12pt;
}

TABLE.box {
  width: 100%;
  margin-bottom: 10;
  border: solid black;
  border-width: 1;
  background-color: #transparent;
  font-size: 12pt;
}

TABLE.footer {
  width: 100%;
  border: solid black;
  border-width: 1;
  background-color: #888888;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 10;
}

TH {
  color: black;
  background-color: #BBCCEE;
  vertical-align: top;
}

.box .label {
  text-align: right;
  vertical-align: top;
  font-size: 12pt;
  font-style: bold;
  color: black;
  background: transparent;
}

.box .collabel {
  text-align: left;
  color: black;
  background: transparent;
}

TD {
  vertical-align: top;
}

TD.error {
  color: red;
}

.error A:link { color: red }
.error A:active { color: red }
.error A:visited { color: red }
.error A:hover { color: red }

TD.logo {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20;
  width: 200;
  margin : 0;
  padding; 0;
  padding-right: 10;
}

TD.sidebarleft {
  width: 210;
  margin: 0;
  padding-right: 10;
}

TD.sidebarright {
  width: 210;
  margin: 0;
  padding-left: 10;
}

.navbox TD {
  padding-left: 5;
  padding-right: 5;
  font-size: 10pt;
}

TD.body {
  background-color: white;
  border: solid black;
  border-width: 1;
  padding: 5;
}

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

H1 {
  color: black;
  font-size: 14pt;
  font-weight: bold;
  background-color: #BBCCEE;
  text-align: center;
}

.header H1 {
  font-size: 22pt;
  background-color: transparent;
}

H2 {
  color: black;
  font-size: 15pt;
  font-weight: bold;
}

.header H2 {
  font-size: 18pt;
}

H3 {
  color: black;
  font-size: 14pt;
  font-style: bold;
}

H4 {
  color: black;
  font-size: 13pt;
  font-style: bold;
}

BLOCKQUOTE {
  color: black;
  font-size: 12pt;
  background-color: #BBCCEE;
}

A:link { color: #003355 }
A:active { color: #003355 }
A:visited { color: #003355 }
A:hover { color: #003355 }

HR {
  color: black;
  border-top: solid black;
  border-width: 3;
}

.box A:link { color: #003355 }
.box A:active { color: #003355 }
.box A:visited { color: #003355 }
.box A:hover { color: #003355 }

.navbox A:link { color: white }
.navbox A:active { color: white }
.navbox A:visited { color: white }
.navbox A:hover { color: white }

IMG {
  border-width: 0;
}
