BODY {
  color: black;
  background-color: #1870aa;
  margin: 0;
  padding: 0;
  font-size: 13pt;
}

TABLE.layout {
  width: 100%;
}

TABLE.header {
  width: 100%;
  border: solid black;
  border-width: 5;
  background-color: white;
}

.header TD {
  height: 80;
}

.header H1 {
  font-size: 110%;
  text-align: left;
  color: 1880aa;
  border-width: 0;
  background-color: #003355;
  border: solid #003355;
}

.header H2 {
  font-size: 150%;
  text-align: right;
  color: black;
  border: none;
  border-width: 0;
  background-color: white;
}

TABLE.footer {
  width: 100%;
  border: solid black;
  border-width: 1;
  background-color: #888888;
  font-size: 95%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10;
}

TH {
  color: white;
  background-color: #1870aa;
  vertical-align: top;
  font-size: 95%;
  font-weight: bold;
}

TD {
  vertical-align: top;
}

TD.error {
  color: red;
}

.error A:link { color: red }
.error A:active { color: red }
.error A:visited { color: red }
.error A:hover { color: red }

TABLE.logo {
  width: 100%;
  height: 100%;
  margin: 0 0 0 5;
  border: solid black;
  border-width: 5;
  font-weight: bold;
  font-size: 20;
}

.logo TD {
  text-align: center;
  vertical-align: middle;
  padding-right; 10;
}

TD.sidebarleft {
  padding-right: 10;
}

TD.sidebarright {
  padding-left: 10;
}

TABLE.tab {
  background-color: black;
}

.tab TD {
  border: solid black;
  border-width: 3;
  padding-left: 15;
  padding-right: 15;
  margin-left: 10;
  border-bottom: 0;
  font-weight: bold;
  background-color: orange;
  color: black;
}

.tab A {
  text-decoration: none;
}

TABLE.box {
  width: 100%;
  margin-bottom: 10;
  border: solid black;
  border-width: 5;
  background-color: white;
}

.box TH {
  padding: 0 0 0 5;
  background-color: white;
  color: orange;
  font-weight: bold;
  text-align: left;
  border: solid orange;
  border-width: 0 0 0 15;
}

.box .label {
  background-color: white;
  text-align: right;
  vertical-align: top;
  font-size: 11pt;
  font-style: bold;
  color: black;
}

.box .collabel {
  text-align: center;
  color: black;
  background: transparent;
  vertical-align: bottom;
  font-size: 11pt;
  border-left: 0;
  border-bottom: dotted orange;
}

.box .sectionlabel {
  padding-top: 20;
  vertical-align: bottom;
  text-align: center;
  background: transparent;
  font-size: 11pt;
  font-weight: bold;
}

.box A:link { color: #003355 }
.box A:active { color: #003355 }
.box A:visited { color: #003355 }
.box A:hover {
  text-decoration: none;
  color: white;
  background: #003355;
}

TABLE.navbox {
  width: 100%;
  border: solid black;
  border-width: 5;
  background-color: white;
}

.navbox TH {
  padding: 0 0 0 5;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: left;
  border: solid green;
  border-width: 0 0 0 15;
}

.navbox TD {
  padding: 0;
  font-size: 95%;
  font-weight: bold;
  background-color: white;
}

.navbox A:link { color: #003355 }
.navbox A:active { color: #003355 }
.navbox A:visited { color: #003355 }
.navbox A:hover {
  text-decoration: none;
  color: white;
  background: orange;
}

.navbox A {
  margin: 15;
}

.sidebarleft TABLE.navbox {
  margin: 0 0 0 5;
}

.sidebarright TABLE.navbox {
  margin: 0 5 0 0;
}

TD.body {
  width: 100%;
  background-color: white;
  border-width: 2;
  border:  solid black;
  padding: 10px;
}

.body P {
  font-size: 12pt;
}

.body P:first-letter {
  font-size: 150%;
}

TD.baron {
  background-color: red;
  padding: 0;
}

TD.baroff {
  background-color: black;
  padding: 0;
}

H1 {
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  background-color: white;
  text-align: right;
  border-width: 5 0 5 5;
  border: solid black;
  padding: 5 10 5 5;
}

H2 {
  color: #bbccee;
  font-size: 15pt;
  font-weight: bold;
}

H3 {
  color: #bbccee;
  font-size: 14pt;
  font-style: bold;
}

H4 {
  color: black;
  font-size: 13pt;
  font-style: bold;
}

BLOCKQUOTE {
  color: black;
  font-size: 12pt;
  background-color: #bbccee;
}

HR {
  color: red;
  border-top: dotted black;
  border-width: 5;
}

A:link { color: #003355 }
A:active { color: #003355 }
A:visited { color: #003355 }
A:hover {
  text-decoration: none;
  color: white;
  background: #003355;
}

IMG {
  border-width: 0;
}

TEXTAREA {
  font-size: 10pt;
}

INPUT {
  font-size: 10pt;
}

SELECT {
  font-size: 10pt;
}

/*
	Splash Page
*/

DIV.map {			/* Reserve some room for the links */
  padding-top: 289px;
  padding-bottom: 50px;
  margin-left: -4%;
  margin-right: 5em;
  width: 80%;
  margin-bottom: 4em;
  margin-top: 5em;
  clear: both;
  text-shadow: 0.2em 0.2em /* 0.2em */ silver;
  background-color: white;
  border-color: black;
  border: solid black;
  border-width: 5;
}

DIV.map A { text-decoration: none; }

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10 {white-space: nowrap;}
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10 {text-indent: 0}
#p1 A, #p2 A, #p3 A, #p4 A, #p5 A, #p6 A, #p7 A, #p8 A, #p9 A, #p10 A {}

#p1, #p1 A {color: #1870aa; background-color: #003355; font: bold 25pt/1 "Impact", "Helvetica Narrow", sans-serif; }
#p2, #p2 A {color: orange; font: bold italic 40px/1 "Georgia", serif}
#p3, #p3 A {color: red; font: bold 40px/1 "Verdana", sans-serif}
#p4, #p4 A {color: blue; font: bold italic 60px/1 "Zapf Chancery", "itc Bookman", "Bookman", "Chevara", monospace}
#p5, #p5 A {color: yellow; font: bold 100px/1 "Verdana", sans-serif}
#p6, #p6 A {color: black; font: bold 25px/1 "Verdana", sans-serif}
#p7, #p7 A {color: #088; font: italic 80px/1 "Verdana", sans-serif}
#p8, #p8 A {color: #088; font: italic 20px/1 "Verdana", sans-serif}
#p9, #p9 A {color: #088; font: italic 20px/1 "Verdana", sans-serif}
#p10, #p10 A {color: #F73; font: bold 60px/1 "Verdana", sans-serif}

/*				  top   rt  btm      */
#p1 {text-align: center; margin: -185px 0%  85px  30%}	/* top right */
#p2 {text-align: left;   border: solid orange; border-width: 0 0 5 15; padding: 0 0 0 5; margin: -170px 60% 150px 5%}	/* top left */
#p3 {text-align: right;  border: dotted red; border-width: 0 7 0 0; padding: 0 5 0 0; margin: -87px 	50% 47px  0%}	/* center */
#p4 {text-align: right;  margin: -85px 	5%  58px  0}	/* center right */
#p5 {text-align: left;   margin: -130px 0  30px  0}	/* center left */
#p6 {text-align: left;   margin: -40px 	0   15px  35%}	/* bottom center */
#p7 {text-align: right;  margin: -80px 	0   0px   0}		/* bottom right */
#p8 {text-align: left;   margin: -40px 	0   20px  3%}	/* bottom left */
#p9 {text-align: right;  margin: -25px 	0   5px   0}		/* bottom right */
#p10 {text-align: left;  margin: -130px	0   70px  0}	/* center left */

