a:link             { color: #009 ; text-decoration: none      ; }
a:visited          { color: #009 ; text-decoration: none      ; }
a:hover            { color: #009 ; text-decoration: underline ; }
a:active           { color: #009 ; text-decoration: underline ; }

/*
a.local:link       { color: #0f0 ; text-decoration: none      ; }
a.local:visited    { color: #0f0 ; text-decoration: none      ; }
a.local:hover      { color: #0f0 ; text-decoration: underline ; }
a.local:active     { color: #0f0 ; text-decoration: underline ; }
*/

a.nonlocal:link    { color: #00f ; text-decoration: none      ; }
a.nonlocal:visited { color: #00f ; text-decoration: none      ; }
a.nonlocal:hover   { color: #00f ; text-decoration: underline ; }
a.nonlocal:active  { color: #00f ; text-decoration: underline ; }

BODY {
	color            : black ; 
	/* background-color : #dae5f3 ; */ /* light blue */
	/* background-color : #ddeeff ; */ /* pale blue */
	background-color : #fff ; 
/*      font-size        : 1.0em ;  */
	font-family      : "New Century Schoolbook", Times, serif ;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                                                                 */
/*                    variable list attributes                     */
/*                                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.variablelist {
        margin        :   1em 5% 1em 5%              ;
}

/*
.calloutlist table {
        background-color : #dff                      ;
}

.example table {
        background-color : #9cc                      ;
}
*/

.variablelist .term {
        font-weight   :   bold                       ;
}

.variablelist .emphasis {
        font-weight   :   bold                       ;
}

p.copyright {
        padding-left  :   1.0em                      ;
        padding-right :   1.0em                      ;
        margin        :   0em 0% 0.2em 0%            ;
        font-size     :   0.7em                      ;
        font-family   :   Verdana, Arial, Helvetica  ;
	text-align    :   right                      ;
	color         :   #808080                    ;
}

.revhistory {
        padding-left  :   0.5em                      ;
        padding-right :   0.5em                      ;
        margin        :   0em 0% 0.2em 0%            ;
        font-size     :   0.5em                      ;
/*      font-family   :   Verdana, Arial, Helvetica  ;  */
	text-align    :   right                      ;
	color         :   #808080                    ;
}

.calloutlist {
        padding-left:    0.5em                      ;
        padding-right:   0.5em                      ;
        margin:          0em 0% 0.2em 0%            ;
}
