a:link             { color: #009900 ; text-decoration: none      ; }
a:visited          { color: #009900 ; text-decoration: none      ; }
a:hover            { color: #009900 ; text-decoration: underline ; }
a:active           { color: #009900 ; text-decoration: underline ; }

a.nonlocal:link    { color: #0000ff ; text-decoration: none      ; }
a.nonlocal:visited { color: #0000ff ; text-decoration: none      ; }
a.nonlocal:hover   { color: #0000ff ; text-decoration: underline ; }
a.nonlocal:active  { color: #0000ff ; text-decoration: underline ; }

BODY {
	color: black ; 
	font-size: 1.0em ;
	font-family: "New Century Schoolbook", Times, serif ;
}

.variablelist .term {
        font-weight:     bold                       ;
}

p.copyright {
        padding-left:    1.0em                      ;
        padding-right:   1.0em                      ;
        margin:          0em 0% 0.2em 0%            ;
        font-size:       0.7em                      ;
        font-family:     Verdana, Arial, Helvetica  ;
	text-align:      right                      ;
	color:           #808080                    ;
}

.revhistory {
        padding-left:    0.5em                      ;
        padding-right:   0.5em                      ;
        margin:          0em 0% 0.2em 0%            ;
        font-size:       0.5em                      ;
/*      font-family:     Verdana, Arial, Helvetica  ;  */
	text-align:      right                      ;
	color:           #808080                    ;
}


