/* Note that this file is for the XHTML output of the source doc */

/* these are the internal document links */
*:link             { color: #009 ; text-decoration: none      ; }
*:visited          { color: #009 ; text-decoration: none      ; }

BODY {
	color            : black ; 
	background-color : #fff ; 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                                                                 */
/*                    variable list attributes                     */
/*                                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.variablelist {
        margin        :   1em 5% 1em 5%              ;
}

.calloutlist {
        padding-left:    0.5em                      ;
        padding-right:   0.5em                      ;
        margin:          0em 0% 0.2em 0%            ;
}

/*
.calloutlist table {
        background-color : #dff                      ;
}

.example table {
        background-color : #9cc                      ;
}
*/

.variablelist .term {
        font-weight   :   bold                       ;
}

.variablelist .emphasis {
        font-weight   :   bold                       ;
}

p.copyright {
        padding-left  :   1.0em                      ;
        padding-right :   1.0em                      ;
        margin        :   0em 0% 0.2em 0%            ;
        font-size     :   0.7em                      ;
        font-family   :   Verdana, Arial, Helvetica  ;
	text-align    :   right                      ;
	color         :   #808080                    ;
}

.revhistory {
        display       :   none                       ;
        width         :   100%                       ;
     /* position      :   fixed                      ; */
     /* bottom        :   -0px                       ; */
}

.revhistory table {
        padding-left  :   0em                        ;
        padding-right :   0em                        ;
        margin        :   0em 0% 0em 0%              ;
}

.revhistory td {
        padding-left  :   0.5em                      ;
        padding-right :   0.5em                      ;
        margin        :   0em 0% 0em 0%              ;
}

.revhistory tr {
        padding-left  :   0em                        ;
        padding-right :   0em                        ;
        margin        :   0em 0% 0em 0%              ;
}

.revhistory > * {
        font-size     :   0.5em                      ;
	text-align    :   right                      ;
        color         :   #808080                    ;
}

