Reqirements for a plone based documentation infrastructure for the LDP
(in no particular order, "from the moon" level view).

- Implement the following workflows:
    - Create and submit a new document for publishing
    - Submit a modified document for tech/language reviews
    - Reviewers logon to see the 'needs review' queue and claim
      something on their own to work on.

- Should be able to publish our existing document collection via plone.
    - A python script running from within CVS picks up new commits and
      imports them into plone.
    - Publish the imported DocBook/XML and LinuxDoc documents from
      within plone.

- Interested volunteers should be able to create a login and start
  contributing.

- Complement our existing feedback mechanism with an issue tracking
  system.

- Import documentation as-is and be a repository for Linux documents
  from other projects like Gnome, KDE, Debian, Gentoo, Linux man pages
  etc.

- Language translation
    - Translators should be able to logon and start contributing
      translations.
